<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <title>Seu pedido</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'meusite.css' %}">
  </head>
  <body>
    <h1 style="color:blue;">Aqui está seu pedido e o total a pagar</h1>
    <a href="{% url 'voltar' %}">Voltar ao menu</a>
    <p style="color:blue;">O total do pedido é: {{preco}}</p>
    {% if lista %}
    {% for prato,num in carro.items %}
    <p>{{prato}}--quantidade:{{num}}</p>
    <a href="{% url 'retirar' pratos=prato %}">retirar do pedido</a>
    {% endfor %}
    {% endif %}
  </body>
</html>